<div id="about-page">
<h2>Universidad Ricardo Palma<br/>
Maestría en Ingeniería Informática</h2>
<h3>Diseño de Aplicaciones Web y Patrones</h3>
<ul>
<li>Ricardo Tejo <a href="https://github.com/rtejo-urp">@rtejo-urp</a></li>
<li>Rolando Zapata <a href="https://github.com/rolanzm">@rolanzm</a></li>
<li>César Tacuri <a href="https://github.com/ctacuri">@ctacuri</a></li>
<li>Juan Carlos Feliciano</li>
</ul>


<a href="https://c9.io/rtejo_urp/evalua-me">Funciona en Cloud 9</a>

<div><small>CC-BY-SA 2015</small></div>
</div>