html body{
    height: 100%;
    margin: 0px;
}

/*
.jqx-window-content .row {
    margin-right: 0px;
    margin-left: 0px;
}

.jqx-window-content .row {
    margin-right: 0px;
    margin-left: 0px;
}

.jqx-button {
    margin-right: auto;
    margin-left: auto;
}

legend {
    font-size: 12px;
    color: navy;
    font-weight: bold;
}

.glyphicon-guardar {
    background: url('../images/guardar.png') 1px 3px;
    background-repeat: no-repeat;
    padding-left: 26px;
    height: 20px;
    margin-top: -4px;
    float: left;
}

.glyphicon-excel {
    background: url('../images/excel.png') 1px 3px;
    background-repeat: no-repeat;
    padding-left: 26px;
    height: 20px;
    margin-top: -4px;
    float: left;
}

.glyphicon-buscar {
    background: url('../images/search.png') 1px 3px;
    background-repeat: no-repeat;
    padding-left: 26px;
    height: 20px;
    margin-top: -4px;
    float: left;
}

.jqx-tabs .form-horizontal .form-group, .jqx-tabs .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-group {
    margin-bottom: 5px;
}

.jqx-tabs {
    margin-bottom: 5px;
}

.jqx-tabs-content-element {
    height: 100%;
    overflow: auto;
    padding: 0px 4px 0px 4px;
}

.form-control {
    height: 25px;
    padding: 3px 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.jqx-button {
    padding: 5px;
}

.jqx-tabs-content-element > fieldset:first-child, .jqx-tabs-content-element > .form-group:first-child {
    margin-top: 5px;
}

fieldset {
    border: 1px solid silver;
    padding: 4px 5px 0px 5px;
    margin: 5px 0px;
}

fieldset legend {
    border-bottom: 0px;
    width: auto;
    margin-bottom: 0px;
}

body, .jqx-widget-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.form-control {
    height: 22px;
}

select.form-control {
    padding: 1px 6px;
}

body {
    background-color: #ffffff;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 3px;
    padding-left: 3px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    margin-top: 0px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

input.form-control, textarea.form-control, select.form-control {
    font-size: 12px;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 0px;
}

.input-group-addon {
    padding: 1px 2px 1px 2px;
    font-size: 11px;
}

.form-group label {
    padding-top: 3px;
    margin-bottom: 0px;
}

.input-group-addon input[type="checkbox"], .input-group-addon input[type="radio"] {
    margin-top: 1px;
}

.jqx-scrollbar-thumb-state-hover-horizontal-custom, .jqx-scrollbar-thumb-state-hover-custom {
    background-color: #ABABAB;
    border-color: #aaaaaa;
}

.jqx-grid-cell-pinned-custom {
    background-color: #E5E5E5 !important;
}

.brown {
    color: brown;
}

.jqx-dropdownlist-state-normal {
    margin: -1px;
}

.footer-options {
    float: right;
}

.footer-options [class*="col-"] {
    width: auto;
}

.footer-options button {
    float: right;
    min-width: 90px;
}

.checkbox > label, .radio > label {
    font-weight: bold;
}

.info-form {
    color: #8f4949;
    font-weight: bold;
}

.h4, h4 {
    font-size: 14px;
}

.h5, .h6, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 20px;
}

.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 25px;
}

.purple {
    color: #000080;
}


.container-fluid h4:first-child {
    background: transparent url("../images/window.png") repeat scroll 0% 0%;
    text-transform:uppercase;
    padding: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
}
*/

textarea{
    height:100%
}

.Examen{
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    font-size:16px;
}


.NumExamen{
    float: left;
    margin-left: 5px;
    margin-top: 20px;
    font-size:16px;
}

.Asignatura{
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size:16px;
}

.ListAsig{
    float: left;
    margin-left: 5px;
    margin-top: 20px;
}

.Minutos{
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    font-size:16px;
}

.NumMin{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.btnSave{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.CantPreg{
    font-family:Verdana, Geneva, sans-serif;
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    font-size:16px;
}

input[type=checkbox] {
    zoom: 2;
}

.container{
    height: 90%;
}
.container-fluid{
    height: 100%;
}
.row{
    height: 100%;
}
.col-md-3{
    /*background: #c0c0c0;*/
    height: 100%;
}
.col-md-9{
    height: 100%;
    /*background: #cccccc;*/
}