<div>
    <h2>[exam new]</h2>

    <div>
        <input type="text" ng-model="exam.name"/>
        <label>Asignatura</label>
        <select class="form-control ng-pristine ng-valid ng-touched" ng-model="exam.course" ng-options="c.name for c in courses"  ng-change="setCourse()" ng-disabled="exam.questions.length > 0" ></select>

        <button class="btn btn-sm btn-primary" ng-click="save()">Guardar</button>
    </div>
    <uib-tabset>
        <uib-tab ng-repeat="q in exam.questions" heading="{{q.id}}" active="currentQuestion"></uib-tab>
    </uib-tabset>
    <div class="questions-list">
        <button class="btn btn-sm btn-primary" ng-click="addQuestion()">Add</button>
        <div ng-repeat="q in exam.questions" ng-click="selectQuestion(q)">xx</div>
    </div>
    <div class="current-question" ng-show="currentQuestion">
        <label>Dificultad</label><select class="form-control ng-pristine ng-valid ng-touched" ng-model="currentQuestion.difficulty" ng-options="d.name for d in difficulties"></select>
        <!--<labe>Tipo</labe><select ng-model="currentQuestion.type" ng-options="c.name for c in courses"></select> -->
        <labe>Tema</labe><select class="form-control ng-pristine ng-valid ng-touched" ng-model="currentQuestion.topic" ng-options="t.name for t in topics"></select>
        <input type="textarea" ng-model="currentQuestion.statement" placeholder="(Enunciado)"/>
        
        <h3>Opciones</h3>
        <button ng-click="addChoice()">Add</button>
        <div ng-repeat="c in currentQuestion.choices">
            <input type="checkbox" ng-model="c.selected" ng-checked="c.selected" />
            <input type="textarea" ng-model="c.statement" />
        </div>
    </div>
</div>
