<!DOCTYPE html>
<html>
<head>
  <title>evalua-me</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'myscripts.js' %>
  <%= csrf_meta_tags %>
  
  
</head>
<body>

<%= yield %>

</body>
</html>
