<!DOCTYPE html>
<html ng-app="evalue-me">
<head>
  <title>Evalúa-me</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>[HEADER]</div>
  <div ng-view >
  </div>
</body>
</html>
